<main>
  <div class="toolbar">
    <button (click)="toggleAddNode()">New</button>
  </div>

  <div class="tree-container">
    <div class="tree-search-and-display">
      <search-by-id></search-by-id>
      <search-by-content></search-by-content>
      <app-tree-display></app-tree-display>
    </div>
    @if (showAddNode()) {
      <app-add-node [parentId]="selectedNodeId()" (onSaved)="showAddNode.set(false)"></app-add-node>
    }
    @if (selectedNode() != null) {
      <edit-node (onSaved)="showEditNode.set(false)"></edit-node>
    }
  </div>
</main>

