<section class="node-details">
  @if (isEditMode) {
    <div [formGroup]="nodeForm">
      <p>Edit node</p>
      <input type="text" placeholder="Name" formControlName="name">
      <input type="text" placeholder="Content" formControlName="content">
      <div class="node-actions">
        <button [disabled]="nodeForm.invalid" (click)="onEdit()">Save</button>
        <button class="btn-secondary" (click)="cancelEdit()">Cancel</button>
      </div>
    </div>
  } @else if (selectedNode() != null) {
    <p><strong>ID:</strong> {{ selectedNode()!.id }}</p>
    <p><strong>Name:</strong> {{ selectedNode()!.name }}</p>
    <p><strong>Content:</strong> {{ selectedNode()!.content }}</p>
    <div class="node-actions">
      <button (click)="toggleEditMode()">Edit</button>
      <button class="btn-danger" (click)="toggleDeleteMode()">Delete</button>
      <button class="btn-secondary" (click)="cancelEdit()">Close</button>
    </div>
  }
</section>
@if (showDeleteDialog()) {
  <delete-node (onSaved)="showDeleteDialog.set(false)" (onCancel)="showDeleteDialog.set(false)"></delete-node>
}
