<section>
  @if (isEditMode) {
    <div [formGroup]="nodeForm">
      <p>Edit node</p>
      <input type="text" placeholder="Name" formControlName="name">
      <input type="text" placeholder="Content" formControlName="content">
      <button [disabled]="nodeForm.invalid" (click)="onEdit()">Edit</button>
    </div>
  } @else if (selectedNode() != null) {
    <p>Name: {{ selectedNode()!.name }}</p>
    <p>Content: {{ selectedNode()!.content }}</p>
    <button (click)="toggleDeleteMode()">Delete</button>
    <button (click)="toggleEditMode()">Edit</button>
  }
</section>
@if (showDeleteDialog()) {
  <delete-node (onSaved)="showDeleteDialog.set(false)" (onCancel)="showDeleteDialog.set(false)"></delete-node>
}
